@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
  --main-dark-blue: #1773A6;
  --main-light-blue: #85CCEC;
}
body {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 28px !important;
  display: inline;
}

header {
}

.bg {
  background-color: #272727;
}
